@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body, table {
    padding: 48px;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    font-size: 12pt;
    line-height: 1.4;
}

.keyword {
    font-weight: bold;
    color: #AA00FF;
}

.symbol {
    font-weight: bold;
    color: #00C853;
}

.identifier {
    font-weight: bold;
    color: #000000;
}

p, table, dl {
    margin: 8px 0;
}

ul, ol {
    margin: 16px 0;
    padding: 0 0 0 24px;
}

ul ul {
    margin: 0 0 16px 0;
    padding: 0 0 0 16px;
    list-style-type: none;
}

li {
    margin: 0;
}

ul>li>p {
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 16pt;
}

a {
    color: #304FFE;
    text-decoration: none;
}

a:hover {
    background-color: #E3F2FD;
    text-decoration: underline;
}

blockquote {
    border-left: 1px solid #e5e5e5;
    margin: 0;
    padding: 0 0 0 16px;
}

code, pre {
    font-family: 'Inconsolata', monospace;
}

code {
    font-size: 14pt;
    margin: 8px 0;
    display: block;
}

pre code {
    font-size: 13pt;
    display: inline;
}

pre {
    display: block;
    padding: 16px;
    margin: 16px 0;
    background: #F5F8FA;
    border-radius: 8px;
    border: 1px solid #CFD8DC;
    overflow-x: auto;
    line-height: 1.2;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #BDBDBD;
}

tr {
    border-top: 1px solid #BDBDBD;
}

th, td {
    text-align: left;
    vertical-align: top;
    padding: 5px 10px;
}

img {
    max-width: 100%;
}

strong {
    font-weight: 700;
}

@media (max-width: 720px) {
    body {
        word-wrap: break-word;
    }
    pre, code {
        word-wrap: normal;
    }
}

@media (max-width: 480px) {
    body {
        padding: 15px;
    }
}